@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Martian+Mono:wght@100..800&family=Moon+Dance&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+RO:wght@100..400&family=Quicksand:wght@300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


.navbar {
     padding: 1.2rem 1.5rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     /* border: 1px solid #000000; */
     width: 100%;
     color: white;
     position: relative;
     background: #000000;

}

.logo-link {
     display: flex;
     align-items: center;
     text-decoration: none;
}

.logo-img {
     height: 3rem;
     width: 5rem;
}

.nav-links {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 1.7rem;
     transition: right 0.3s ease;
}

.nav-outer {

     padding: .2rem .5rem;
}

.nav-outer::before {
     content: '';
     display: inline-block;
     position: relative;
     left: -20px;
     width: 1rem;
     height: 1rem;
     background-image: url('../assets/hoverwing.svg');
     filter: grayscale(100%);
     background-size: contain;
     background-repeat: no-repeat;
     margin-right: 0.5rem;
     vertical-align: middle;
     transition: transform 0.3s;
}

.nav-outer:hover::before {
     transform: scale(1.8);
     filter: grayscale(0%);
     transition: transform 0.3s, filter 0.3s;
}

.icon-img {
     display: none;
}

.nav-link {

     display: flex;
     flex-direction: column;
     gap: 0.2rem;
     align-items: flex-start;
     cursor: pointer;
}

.nav-link:hover .nav-outer::before {
     scale: 1.2;
}

.main-text {
     font-size: 1rem;
     font-weight: 600;
     color: #ffffff;
     font-family: 'Martian Mono', monospace;
     text-decoration: none;
}

.sub-text {
     font-size: 1.2rem;
     font-weight: 500;
     color: #55525271;
}

.contact {
     margin-left: 1rem;

}

.hamburger {
     display: flex;
     flex-direction: column;
     cursor: pointer;
     width: 2rem;
     height: 2rem;
     justify-content: center;
     align-items: center;
     z-index: 1001;
}

.hamburger span {
     height: 3px;
     width: 25px;
     background: #ffffff;
     margin: 4px 0;
     border-radius: 2px;
     transition: 0.4s;
     display: block;
}

/* Hamburger to X animation */
.hamburger.open span {
     background: #000 !important;
}

.hamburger.open span:nth-child(1) {
     transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
     opacity: 0;
}

.hamburger.open span:nth-child(3) {
     transform: rotate(-45deg) translate(6px, -6px);
}

/* Responsive styles */
@media (max-width: 900px) {
     .nav-links {
          gap: 1rem;
     }

     .main-text {
          font-size: 0.9rem;
     }

     .sub-text {
          font-size: 1rem;
     }
}

@media (max-width: 700px) {
     .logo-img {

          height: 2rem;
          width: 3rem;
     }

     .navbar {
          flex-wrap: wrap;
          padding: 1rem;
     }

     .nav-links {
          position: fixed;
          top: 0;
          right: -100vw;
          height: 90vh;
          width: 90%;
          background: #fcfcfc;
          flex-direction: column;
          color: black;
          box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
          z-index: 1000;
          /* padding: 2rem; */
          font-size: 1rem;
     }

     .nav-links>* {
          width: 90%;
     }

     .main-text {
          font-size: 1.2rem;
          font-weight: 700;
          color: #000000;
          font-family: 'Martian Mono', monospace;
     }

     .nav-link {
          width: 100%;
          padding: 1rem;
          text-align: center;
          /* border: 1px solid #000000; */
     }


     .nav-links.open {
          right: 0;
     }

     .hamburger {
          display: flex;
     }

     .hamburger.open span {
          transform: rotate(-45deg) translate(-5px, 6px);
          color: #000000 !important;
          background: #000 !important;
     }

     .contact {
          display: none;
     }
}